<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>products</title>
  </head>
  <body>
    {% if products_list %}
    <ul>
        {% for product in products_list %}
            <p> {{product.name}}  {{product.price}}zł</p>
            <form action="{% url 'addToCart' %}" method="post">
              {% csrf_token %}
              <input type="hidden" value={{product.id}} name=id>
              <input type="number" name="count" id="count" value=1>
              <input type="submit" value="Add to cart">
            </form>
        {% endfor %}
    </ul>
    {% else %}
        <p>brak produktów</p>
    {% endif %}
    <form action="{% url 'products'%}" method="post">
      {% csrf_token %}
      <label for="name">name: </label>
      <input type="text" name="name" id="name" required>
      <label for="price">price: </label>
      <input type="number" name="price" id="price" required>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
